$purple: #6E37BE;
$red:#FE2725;
$green:#78C52E;
$blue:#0FACFB;
$turquese:#129988;

$gray:#B9BDBF;
$black: #212122;
$white: #F2F2F2;

$background-light: #F9F9F9;
$background-dark: #2c2c2c;

// Theme colors
$primary: $blue;
$secundary: $purple;
$accent1: $turquese;
$accent2: $green;
$accent3: $red;