@import './themes';
@import './colors';

.input--group{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    .input {
        padding: 12px;
        border-radius: 6px;
        font-size: 1em;
        outline: none !important;
        @include themify($themes){
            border: 2px solid themed('inputBorderColor');
            background-color: themed('inputBackground');
        }
        &::placeholder{
            @include themify($themes) {
                color: themed('gray5');
            }
        }
        &:focus {
            @include themify($themes) {
                border: 2px solid themed('primaryColor');
            }
        }
        &:focus-visible {
            @include themify($themes) {
                border: 2px solid themed('primaryColor');
            }
        }

        &.success{
            @include themify($themes){
                border-color: themed('success') !important;
            }
        }
        &.error {
            @include themify($themes){
                border-color: themed('error') !important;
            }
        }
        &.active{
            @include themify($themes){
                border-color: themed('primaryColor') !important;
            }
        }
        &.disabled{
            @include themify($themes){
                background-color: themed('gray1') !important;
            }
        }
    }

    .select{
        @extend .input;
    }

    .input--label{
        font-size: 1.05em;
        font-weight: $medium;
        margin-bottom: 8px;
    }

    .input--message{
        font-size: 1em;
        margin-top: 4px;
        @include themify($themes) {
            font-weight: themed('textWeight');
        }

        &.success{
            @include themify($themes){
                color: themed('success') !important;
            }
        }
    
        &.error {
            @include themify($themes){
                color: themed('error') !important;
            }
        }
    }

    .toggle--swicth {
        display: flex;
        
        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }
        
        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 64px;
            height: 34px;
            display: block;
            border-radius: 100px;
            position: relative;
            @include themify($themes){
                background: themed('gray4');
            }

            &.disabled{
                @include themify($themes){
                    background: themed('gray2');
                }
            }
        }
        
        label:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            width: 24px;
            height: 24px;
            background: #fff;
            border-radius: 90px;
            transition: 0.4s;
        }
        
        input:checked + label {
            @include themify($themes){
                background: themed('primaryColor');
            }
        }
        
        input:checked + label:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }
        
        // label:active:after {
        //     width: 130px;
        // }
    }

    .checkbox--container{
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: -4s ease;
        width: 100%;


        .checkbox--label{
            font-size: .9em;
            font-weight: $medium;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark{
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            border-radius: 6px;
            transition: -4s ease;
            @include themify($themes){
                background: themed('gray1');
                border: 1px solid themed('gray4');
            }

        }
    }
    .checkbox--container:hover input ~ .checkmark {
        @include themify($themes){
            background: themed('gray2');
        }
    }
    .checkbox--container input:checked ~ .checkmark {
        @include themify($themes){
            background: themed('primaryColor');
        }
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .checkbox--container input:checked ~ .checkmark:after {
        display: block;
    }
    .checkbox--container .checkmark:after {
        left: 8px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .radio--container{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;

        .radio--label{
            font-size: .9em;
            font-weight: $medium;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .radio--Check{
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            transition: -4s ease;
            @include themify($themes){
                background: themed('gray1');
                border: 1px solid themed('gray4');
            }

        }
    }
    .radio--container:hover input ~ .radio--Check {
        @include themify($themes){
            background: themed('gray2');
        }
    }
    .radio--container input:checked ~ .radio--Check {
        background: transparent;
    }
    .radio--Check:after {
        content: "";
        position: absolute;
        display: none;
    }
    .radio--container input:checked ~ .radio--Check:after {
        display: block;
    }
    .radio--container .radio--Check:after {
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        @include themify($themes){
            background: themed('primaryColor');
        }
    }
}


