@import './colors';
@import './typography';

$themes: (
    light: (
        background: $background-light,
        textColor: $background-dark,
        primaryColor: $primary,
        secundaryColor: $secundary,
        accentColor1: $accent1,
        accentColor2: $accent2,
        accentColor3: $accent3,
        textWeight: $light,
        fontFamily: $font-family,
    ),
    dark: (
        background: $background-dark,
        textColor: $background-light,
        primaryColor: $primary,
        secundaryColor: $secundary,
        accentColor1: $accent1,
        accentColor2: $accent2,
        accentColor3: $accent3,
        textWeight: $mediun,
        fontFamily: $font-family,
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .#{$theme}-theme & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}