@import './settings';
@import './typography';

$themes: (
    light: (
        background: $background-light,
        textColor: $background-dark,
        primaryColor: $primary,
        secundaryColor: $secundary,
        accentColor1: $accent1,
        accentColor2: $accent2,
        accentColor3: $accent3,
        textWeight: $light,
        fontFamily: $font-family,
        sectionColor: $accent1,
        SectionBorder: 1px solid $accent1,
        gray1: #F2F2F2,
        gray2: #E8E9E9,
        gray3: #D1D3D4,
        gray4: #B9BDBF,
        gray5: #7F8488,
        gray6: #656A6D,
        gray7: #4C5052,
        gray8: #212122,
        inputBackground: $white,
        inputBorderColor: #B9BDBF,
        success: $accent2,
        error: $accent3,
        cardBackground: $white,
        opositeColor: $background-dark,
        whiteColor: $white,
        blackColor: $black,
    ),
    dark: (
        background: $background-dark,
        textColor: $background-light,
        primaryColor: $accent2,
        secundaryColor: $primary,
        accentColor1: $accent1,
        accentColor2: $secundary,
        accentColor3: $accent3,
        textWeight: $medium,
        fontFamily: $font-family,
        sectionColor: $accent2,
        SectionBorder: 1px solid $accent2,
        gray1: #F2F2F2,
        gray2: #E8E9E9,
        gray3: #D1D3D4,
        gray4: #B9BDBF,
        gray5: #7F8488,
        gray6: #656A6D,
        gray7: #4C5052,
        gray8: #212122,
        inputBackground: $black,
        inputBorderColor: #4C5052,
        success: $accent2,
        error: $accent3,
        cardBackground: $black,
        opositeColor: $background-light,
        whiteColor: $white,
        blackColor: $black,
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .#{$theme}-theme & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}