@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h4, .title-h3, .title-h2, .title-h1 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.light-theme .bg-gray-1 {
  background-color: #F2F2F2;
}
.dark-theme .bg-gray-1 {
  background-color: #F2F2F2;
}
.light-theme .bg-gray-2 {
  background-color: #E8E9E9;
}
.dark-theme .bg-gray-2 {
  background-color: #E8E9E9;
}
.light-theme .bg-gray-3 {
  background-color: #D1D3D4;
}
.dark-theme .bg-gray-3 {
  background-color: #D1D3D4;
}
.light-theme .bg-gray-4 {
  background-color: #B9BDBF;
}
.dark-theme .bg-gray-4 {
  background-color: #B9BDBF;
}
.light-theme .bg-gray-5 {
  background-color: #7F8488;
}
.dark-theme .bg-gray-5 {
  background-color: #7F8488;
}
.light-theme .bg-gray-6 {
  background-color: #656A6D;
}
.dark-theme .bg-gray-6 {
  background-color: #656A6D;
}
.light-theme .bg-gray-7 {
  background-color: #4C5052;
}
.dark-theme .bg-gray-7 {
  background-color: #4C5052;
}
.light-theme .bg-gray-8 {
  background-color: #212122;
}
.dark-theme .bg-gray-8 {
  background-color: #212122;
}

.light-theme .bg-primary {
  background-color: #0FACFB !important;
}
.dark-theme .bg-primary {
  background-color: orange !important;
}
.light-theme .bg-primary-lightest {
  background: #d8f1fe !important;
}
.dark-theme .bg-primary-lightest {
  background: #ffedcc !important;
}
.light-theme .bg-primary-lighter {
  background: #a5e0fe !important;
}
.dark-theme .bg-primary-lighter {
  background: #ffdb99 !important;
}
.light-theme .bg-primary-light {
  background: #41bdfc !important;
}
.dark-theme .bg-primary-light {
  background: #ffb733 !important;
}
.light-theme .bg-primary-dark {
  background: #049fed !important;
}
.dark-theme .bg-primary-dark {
  background: #e69500 !important;
}
.light-theme .bg-primary-darker {
  background: #037dba !important;
}
.dark-theme .bg-primary-darker {
  background: #b37400 !important;
}

.light-theme .bg-secundary {
  background-color: #6E37BE !important;
}
.dark-theme .bg-secundary {
  background-color: #0FACFB !important;
}
.light-theme .bg-secundary-lightest {
  background: #ddd0f1 !important;
}
.dark-theme .bg-secundary-lightest {
  background: #d8f1fe !important;
}
.light-theme .bg-secundary-lighter {
  background: #c1a8e6 !important;
}
.dark-theme .bg-secundary-lighter {
  background: #a5e0fe !important;
}
.light-theme .bg-secundary-light {
  background: #8959cf !important;
}
.dark-theme .bg-secundary-light {
  background: #41bdfc !important;
}
.light-theme .bg-secundary-dark {
  background: #6331aa !important;
}
.dark-theme .bg-secundary-dark {
  background: #049fed !important;
}
.light-theme .bg-secundary-darker {
  background: #4c2683 !important;
}
.dark-theme .bg-secundary-darker {
  background: #037dba !important;
}

.light-theme .bg-accent1 {
  background-color: #129988 !important;
}
.dark-theme .bg-accent1 {
  background-color: #129988 !important;
}
.light-theme .bg-accent1-lightest {
  background: #86f1e3 !important;
}
.dark-theme .bg-accent1-lightest {
  background: #86f1e3 !important;
}
.light-theme .bg-accent1-lighter {
  background: #59ebd9 !important;
}
.dark-theme .bg-accent1-lighter {
  background: #59ebd9 !important;
}
.light-theme .bg-accent1-light {
  background: #17c7b1 !important;
}
.dark-theme .bg-accent1-light {
  background: #17c7b1 !important;
}
.light-theme .bg-accent1-dark {
  background: #0f8274 !important;
}
.dark-theme .bg-accent1-dark {
  background: #0f8274 !important;
}
.light-theme .bg-accent1-darker {
  background: #0a554b !important;
}
.dark-theme .bg-accent1-darker {
  background: #0a554b !important;
}

.light-theme .bg-accent2 {
  background-color: #78C52E !important;
}
.dark-theme .bg-accent2 {
  background-color: #78C52E !important;
}
.light-theme .bg-accent2-lightest {
  background: #dff3cc !important;
}
.dark-theme .bg-accent2-lightest {
  background: #dff3cc !important;
}
.light-theme .bg-accent2-lighter {
  background: #c5e9a3 !important;
}
.dark-theme .bg-accent2-lighter {
  background: #c5e9a3 !important;
}
.light-theme .bg-accent2-light {
  background: #92d650 !important;
}
.dark-theme .bg-accent2-light {
  background: #92d650 !important;
}
.light-theme .bg-accent2-dark {
  background: #6bb029 !important;
}
.dark-theme .bg-accent2-dark {
  background: #6bb029 !important;
}
.light-theme .bg-accent2-darker {
  background: #528720 !important;
}
.dark-theme .bg-accent2-darker {
  background: #528720 !important;
}

.light-theme .bg-accent3 {
  background-color: #FE2725 !important;
}
.dark-theme .bg-accent3 {
  background-color: #FE2725 !important;
}
.light-theme .bg-accent3-lightest {
  background: #fff0f0 !important;
}
.dark-theme .bg-accent3-lightest {
  background: #fff0f0 !important;
}
.light-theme .bg-accent3-lighter {
  background: #ffbebd !important;
}
.dark-theme .bg-accent3-lighter {
  background: #ffbebd !important;
}
.light-theme .bg-accent3-light {
  background: #fe5958 !important;
}
.dark-theme .bg-accent3-light {
  background: #fe5958 !important;
}
.light-theme .bg-accent3-dark {
  background: #fe0e0c !important;
}
.dark-theme .bg-accent3-dark {
  background: #fe0e0c !important;
}
.light-theme .bg-accent3-darker {
  background: #d60301 !important;
}
.dark-theme .bg-accent3-darker {
  background: #d60301 !important;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.button, .button-accent3, .button-accent2, .button-accent1, .button-secundary, .button-primary {
  border: none;
  border-radius: 6px;
  padding: 18px;
  min-width: 90%;
  text-align: center;
  transition: 0.4s ease;
  cursor: pointer;
  margin: 8px 0;
}
.button.small, .small.button-accent3, .small.button-accent2, .small.button-accent1, .small.button-secundary, .small.button-primary {
  padding: 8px 4px;
  width: 60%;
}
.button.medium, .medium.button-accent3, .medium.button-accent2, .medium.button-accent1, .medium.button-secundary, .medium.button-primary {
  padding: 12px 6px;
  width: 70%;
}
.button.hovered, .hovered.button-accent3, .hovered.button-accent2, .hovered.button-accent1, .hovered.button-secundary, .hovered.button-primary {
  transform: scale(1.05);
}
.light-theme .button.hovered, .light-theme .hovered.button-accent3, .light-theme .hovered.button-accent2, .light-theme .hovered.button-accent1, .light-theme .hovered.button-secundary, .light-theme .hovered.button-primary {
  color: #F2F2F2;
  background-color: #41bdfc !important;
}
.dark-theme .button.hovered, .dark-theme .hovered.button-accent3, .dark-theme .hovered.button-accent2, .dark-theme .hovered.button-accent1, .dark-theme .hovered.button-secundary, .dark-theme .hovered.button-primary {
  color: #F2F2F2;
  background-color: #ffb733 !important;
}
.button.disabled, .disabled.button-accent3, .disabled.button-accent2, .disabled.button-accent1, .disabled.button-secundary, .disabled.button-primary {
  cursor: no-drop;
}
.light-theme .button.disabled, .light-theme .disabled.button-accent3, .light-theme .disabled.button-accent2, .light-theme .disabled.button-accent1, .light-theme .disabled.button-secundary, .light-theme .disabled.button-primary {
  color: #F2F2F2;
  background-color: #a5e0fe !important;
}
.dark-theme .button.disabled, .dark-theme .disabled.button-accent3, .dark-theme .disabled.button-accent2, .dark-theme .disabled.button-accent1, .dark-theme .disabled.button-secundary, .dark-theme .disabled.button-primary {
  color: #F2F2F2;
  background-color: #ffdb99 !important;
}
.button.disabled:hover, .disabled.button-accent3:hover, .disabled.button-accent2:hover, .disabled.button-accent1:hover, .disabled.button-secundary:hover, .disabled.button-primary:hover {
  transform: none !important;
}
.light-theme .button.active, .light-theme .active.button-accent3, .light-theme .active.button-accent2, .light-theme .active.button-accent1, .light-theme .active.button-secundary, .light-theme .active.button-primary {
  color: #F2F2F2;
  background-color: #037dba !important;
}
.dark-theme .button.active, .dark-theme .active.button-accent3, .dark-theme .active.button-accent2, .dark-theme .active.button-accent1, .dark-theme .active.button-secundary, .dark-theme .active.button-primary {
  color: #F2F2F2;
  background-color: #b37400 !important;
}
.button.active:hover, .active.button-accent3:hover, .active.button-accent2:hover, .active.button-accent1:hover, .active.button-secundary:hover, .active.button-primary:hover {
  transform: none !important;
}
.light-theme .button.active:hover, .light-theme .active.button-accent3:hover, .light-theme .active.button-accent2:hover, .light-theme .active.button-accent1:hover, .light-theme .active.button-secundary:hover, .light-theme .active.button-primary:hover {
  color: #F2F2F2;
  background-color: #0FACFB !important;
}
.dark-theme .button.active:hover, .dark-theme .active.button-accent3:hover, .dark-theme .active.button-accent2:hover, .dark-theme .active.button-accent1:hover, .dark-theme .active.button-secundary:hover, .dark-theme .active.button-primary:hover {
  color: #F2F2F2;
  background-color: orange !important;
}
.light-theme .button-primary {
  color: #F2F2F2;
  background-color: #0FACFB;
}
.dark-theme .button-primary {
  color: #F2F2F2;
  background-color: orange;
}
.button-primary:hover {
  transform: scale(1.05);
}
.light-theme .button-primary:hover {
  color: #F2F2F2;
  background-color: #41bdfc;
}
.dark-theme .button-primary:hover {
  color: #F2F2F2;
  background-color: #ffb733;
}
.light-theme .button-secundary {
  color: #F2F2F2;
  background-color: #6E37BE;
}
.dark-theme .button-secundary {
  color: #F2F2F2;
  background-color: #0FACFB;
}
.button-secundary:hover {
  transform: scale(1.05);
}
.light-theme .button-secundary:hover {
  color: #F2F2F2;
  background-color: #8959cf;
}
.dark-theme .button-secundary:hover {
  color: #F2F2F2;
  background-color: #41bdfc;
}
.light-theme .button-accent1 {
  color: #F2F2F2;
  background-color: #129988;
}
.dark-theme .button-accent1 {
  color: #F2F2F2;
  background-color: #129988;
}
.button-accent1:hover {
  transform: scale(1.05);
}
.light-theme .button-accent1:hover {
  color: #F2F2F2;
  background-color: #17c7b1;
}
.dark-theme .button-accent1:hover {
  color: #F2F2F2;
  background-color: #17c7b1;
}
.light-theme .button-accent2 {
  color: #F2F2F2;
  background-color: #78C52E;
}
.dark-theme .button-accent2 {
  color: #F2F2F2;
  background-color: #78C52E;
}
.button-accent2:hover {
  transform: scale(1.05);
}
.light-theme .button-accent2:hover {
  color: #F2F2F2;
  background-color: #92d650;
}
.dark-theme .button-accent2:hover {
  color: #F2F2F2;
  background-color: #92d650;
}
.light-theme .button-accent3 {
  color: #F2F2F2;
  background-color: #FE2725;
}
.dark-theme .button-accent3 {
  color: #F2F2F2;
  background-color: #FE2725;
}
.button-accent3:hover {
  transform: scale(1.05);
}
.light-theme .button-accent3:hover {
  color: #F2F2F2;
  background-color: #fe5958;
}
.dark-theme .button-accent3:hover {
  color: #F2F2F2;
  background-color: #fe5958;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.link, .link-secundary, .link-primary {
  font-weight: 500;
  text-decoration-style: dashed;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  transition: 0.4s ease;
}
.link:hover, .link-secundary:hover, .link-primary:hover {
  text-decoration-style: solid;
}
.link:after, .link-secundary:after, .link-primary:after {
  transition: 300ms;
}
.light-theme .link, .light-theme .link-secundary, .light-theme .link-primary {
  color: #B9BDBF;
}
.dark-theme .link, .dark-theme .link-secundary, .dark-theme .link-primary {
  color: #B9BDBF;
}
.light-theme .link:hover, .light-theme .link-secundary:hover, .light-theme .link-primary:hover {
  color: #656A6D;
}
.dark-theme .link:hover, .dark-theme .link-secundary:hover, .dark-theme .link-primary:hover {
  color: #656A6D;
}
.link.hovered, .hovered.link-secundary, .hovered.link-primary {
  text-decoration-style: solid !important;
}
.light-theme .link-primary {
  color: #0FACFB;
}
.dark-theme .link-primary {
  color: orange;
}
.light-theme .link-primary:hover {
  color: #036ca1;
}
.dark-theme .link-primary:hover {
  color: #996300;
}
.light-theme .link-primary.hovered {
  color: #036ca1;
}
.dark-theme .link-primary.hovered {
  color: #996300;
}
.light-theme .link-secundary {
  color: #6E37BE;
}
.dark-theme .link-secundary {
  color: #0FACFB;
}
.light-theme .link-secundary:hover {
  color: #40206f;
}
.dark-theme .link-secundary:hover {
  color: #036ca1;
}
.light-theme .link-secundary.hovered {
  color: #40206f;
}
.dark-theme .link-secundary.hovered {
  color: #036ca1;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.light-theme .bg-gray-1 {
  background-color: #F2F2F2;
}
.dark-theme .bg-gray-1 {
  background-color: #F2F2F2;
}
.light-theme .bg-gray-2 {
  background-color: #E8E9E9;
}
.dark-theme .bg-gray-2 {
  background-color: #E8E9E9;
}
.light-theme .bg-gray-3 {
  background-color: #D1D3D4;
}
.dark-theme .bg-gray-3 {
  background-color: #D1D3D4;
}
.light-theme .bg-gray-4 {
  background-color: #B9BDBF;
}
.dark-theme .bg-gray-4 {
  background-color: #B9BDBF;
}
.light-theme .bg-gray-5 {
  background-color: #7F8488;
}
.dark-theme .bg-gray-5 {
  background-color: #7F8488;
}
.light-theme .bg-gray-6 {
  background-color: #656A6D;
}
.dark-theme .bg-gray-6 {
  background-color: #656A6D;
}
.light-theme .bg-gray-7 {
  background-color: #4C5052;
}
.dark-theme .bg-gray-7 {
  background-color: #4C5052;
}
.light-theme .bg-gray-8 {
  background-color: #212122;
}
.dark-theme .bg-gray-8 {
  background-color: #212122;
}

.light-theme .bg-primary {
  background-color: #0FACFB !important;
}
.dark-theme .bg-primary {
  background-color: orange !important;
}
.light-theme .bg-primary-lightest {
  background: #d8f1fe !important;
}
.dark-theme .bg-primary-lightest {
  background: #ffedcc !important;
}
.light-theme .bg-primary-lighter {
  background: #a5e0fe !important;
}
.dark-theme .bg-primary-lighter {
  background: #ffdb99 !important;
}
.light-theme .bg-primary-light {
  background: #41bdfc !important;
}
.dark-theme .bg-primary-light {
  background: #ffb733 !important;
}
.light-theme .bg-primary-dark {
  background: #049fed !important;
}
.dark-theme .bg-primary-dark {
  background: #e69500 !important;
}
.light-theme .bg-primary-darker {
  background: #037dba !important;
}
.dark-theme .bg-primary-darker {
  background: #b37400 !important;
}

.light-theme .bg-secundary {
  background-color: #6E37BE !important;
}
.dark-theme .bg-secundary {
  background-color: #0FACFB !important;
}
.light-theme .bg-secundary-lightest {
  background: #ddd0f1 !important;
}
.dark-theme .bg-secundary-lightest {
  background: #d8f1fe !important;
}
.light-theme .bg-secundary-lighter {
  background: #c1a8e6 !important;
}
.dark-theme .bg-secundary-lighter {
  background: #a5e0fe !important;
}
.light-theme .bg-secundary-light {
  background: #8959cf !important;
}
.dark-theme .bg-secundary-light {
  background: #41bdfc !important;
}
.light-theme .bg-secundary-dark {
  background: #6331aa !important;
}
.dark-theme .bg-secundary-dark {
  background: #049fed !important;
}
.light-theme .bg-secundary-darker {
  background: #4c2683 !important;
}
.dark-theme .bg-secundary-darker {
  background: #037dba !important;
}

.light-theme .bg-accent1 {
  background-color: #129988 !important;
}
.dark-theme .bg-accent1 {
  background-color: #129988 !important;
}
.light-theme .bg-accent1-lightest {
  background: #86f1e3 !important;
}
.dark-theme .bg-accent1-lightest {
  background: #86f1e3 !important;
}
.light-theme .bg-accent1-lighter {
  background: #59ebd9 !important;
}
.dark-theme .bg-accent1-lighter {
  background: #59ebd9 !important;
}
.light-theme .bg-accent1-light {
  background: #17c7b1 !important;
}
.dark-theme .bg-accent1-light {
  background: #17c7b1 !important;
}
.light-theme .bg-accent1-dark {
  background: #0f8274 !important;
}
.dark-theme .bg-accent1-dark {
  background: #0f8274 !important;
}
.light-theme .bg-accent1-darker {
  background: #0a554b !important;
}
.dark-theme .bg-accent1-darker {
  background: #0a554b !important;
}

.light-theme .bg-accent2 {
  background-color: #78C52E !important;
}
.dark-theme .bg-accent2 {
  background-color: #78C52E !important;
}
.light-theme .bg-accent2-lightest {
  background: #dff3cc !important;
}
.dark-theme .bg-accent2-lightest {
  background: #dff3cc !important;
}
.light-theme .bg-accent2-lighter {
  background: #c5e9a3 !important;
}
.dark-theme .bg-accent2-lighter {
  background: #c5e9a3 !important;
}
.light-theme .bg-accent2-light {
  background: #92d650 !important;
}
.dark-theme .bg-accent2-light {
  background: #92d650 !important;
}
.light-theme .bg-accent2-dark {
  background: #6bb029 !important;
}
.dark-theme .bg-accent2-dark {
  background: #6bb029 !important;
}
.light-theme .bg-accent2-darker {
  background: #528720 !important;
}
.dark-theme .bg-accent2-darker {
  background: #528720 !important;
}

.light-theme .bg-accent3 {
  background-color: #FE2725 !important;
}
.dark-theme .bg-accent3 {
  background-color: #FE2725 !important;
}
.light-theme .bg-accent3-lightest {
  background: #fff0f0 !important;
}
.dark-theme .bg-accent3-lightest {
  background: #fff0f0 !important;
}
.light-theme .bg-accent3-lighter {
  background: #ffbebd !important;
}
.dark-theme .bg-accent3-lighter {
  background: #ffbebd !important;
}
.light-theme .bg-accent3-light {
  background: #fe5958 !important;
}
.dark-theme .bg-accent3-light {
  background: #fe5958 !important;
}
.light-theme .bg-accent3-dark {
  background: #fe0e0c !important;
}
.dark-theme .bg-accent3-dark {
  background: #fe0e0c !important;
}
.light-theme .bg-accent3-darker {
  background: #d60301 !important;
}
.dark-theme .bg-accent3-darker {
  background: #d60301 !important;
}

.input--group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.input--group .input, .input--group .select {
  padding: 12px;
  border-radius: 6px;
  font-size: 1em;
  outline: none !important;
}
.light-theme .input--group .input, .light-theme .input--group .select {
  border: 2px solid #B9BDBF;
  background-color: #FFFFFF;
}
.dark-theme .input--group .input, .dark-theme .input--group .select {
  border: 2px solid #4C5052;
  background-color: #212122;
}
.light-theme .input--group .input::placeholder, .light-theme .input--group .select::placeholder {
  color: #7F8488;
}
.dark-theme .input--group .input::placeholder, .dark-theme .input--group .select::placeholder {
  color: #7F8488;
}
.light-theme .input--group .input:focus, .light-theme .input--group .select:focus {
  border: 2px solid #0FACFB;
}
.dark-theme .input--group .input:focus, .dark-theme .input--group .select:focus {
  border: 2px solid orange;
}
.light-theme .input--group .input:focus-visible, .light-theme .input--group .select:focus-visible {
  border: 2px solid #0FACFB;
}
.dark-theme .input--group .input:focus-visible, .dark-theme .input--group .select:focus-visible {
  border: 2px solid orange;
}
.light-theme .input--group .input.success, .light-theme .input--group .success.select {
  border-color: #78C52E !important;
}
.dark-theme .input--group .input.success, .dark-theme .input--group .success.select {
  border-color: #78C52E !important;
}
.light-theme .input--group .input.error, .light-theme .input--group .error.select {
  border-color: #FE2725 !important;
}
.dark-theme .input--group .input.error, .dark-theme .input--group .error.select {
  border-color: #FE2725 !important;
}
.light-theme .input--group .input.active, .light-theme .input--group .active.select {
  border-color: #0FACFB !important;
}
.dark-theme .input--group .input.active, .dark-theme .input--group .active.select {
  border-color: orange !important;
}
.light-theme .input--group .input.disabled, .light-theme .input--group .disabled.select {
  background-color: #F2F2F2 !important;
}
.dark-theme .input--group .input.disabled, .dark-theme .input--group .disabled.select {
  background-color: #F2F2F2 !important;
}
.input--group .input--label {
  font-size: 1.05em;
  font-weight: 500;
  margin-bottom: 8px;
}
.input--group .input--message {
  font-size: 1em;
  margin-top: 4px;
}
.light-theme .input--group .input--message {
  font-weight: 300;
}
.dark-theme .input--group .input--message {
  font-weight: 500;
}
.light-theme .input--group .input--message.success {
  color: #78C52E !important;
}
.dark-theme .input--group .input--message.success {
  color: #78C52E !important;
}
.light-theme .input--group .input--message.error {
  color: #FE2725 !important;
}
.dark-theme .input--group .input--message.error {
  color: #FE2725 !important;
}
.input--group .toggle--swicth {
  display: flex;
}
.input--group .toggle--swicth input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.input--group .toggle--swicth label {
  cursor: pointer;
  text-indent: -9999px;
  width: 64px;
  height: 34px;
  display: block;
  border-radius: 100px;
  position: relative;
}
.light-theme .input--group .toggle--swicth label {
  background: #B9BDBF;
}
.dark-theme .input--group .toggle--swicth label {
  background: #B9BDBF;
}
.light-theme .input--group .toggle--swicth label.disabled {
  background: #E8E9E9;
}
.dark-theme .input--group .toggle--swicth label.disabled {
  background: #E8E9E9;
}
.input--group .toggle--swicth label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 90px;
  transition: 0.4s;
}
.light-theme .input--group .toggle--swicth input:checked + label {
  background: #0FACFB;
}
.dark-theme .input--group .toggle--swicth input:checked + label {
  background: orange;
}
.input--group .toggle--swicth input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.input--group .checkbox--container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: -4s ease;
  width: 100%;
}
.input--group .checkbox--container .checkbox--label {
  font-size: 0.9em;
  font-weight: 500;
}
.input--group .checkbox--container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.input--group .checkbox--container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 6px;
  transition: -4s ease;
}
.light-theme .input--group .checkbox--container .checkmark {
  background: #F2F2F2;
  border: 1px solid #B9BDBF;
}
.dark-theme .input--group .checkbox--container .checkmark {
  background: #F2F2F2;
  border: 1px solid #B9BDBF;
}
.light-theme .input--group .checkbox--container:hover input ~ .checkmark {
  background: #E8E9E9;
}
.dark-theme .input--group .checkbox--container:hover input ~ .checkmark {
  background: #E8E9E9;
}
.light-theme .input--group .checkbox--container input:checked ~ .checkmark {
  background: #0FACFB;
}
.dark-theme .input--group .checkbox--container input:checked ~ .checkmark {
  background: orange;
}
.input--group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.input--group .checkbox--container input:checked ~ .checkmark:after {
  display: block;
}
.input--group .checkbox--container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.input--group .radio--container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.input--group .radio--container .radio--label {
  font-size: 0.9em;
  font-weight: 500;
}
.input--group .radio--container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.input--group .radio--container .radio--Check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: -4s ease;
}
.light-theme .input--group .radio--container .radio--Check {
  background: #F2F2F2;
  border: 1px solid #B9BDBF;
}
.dark-theme .input--group .radio--container .radio--Check {
  background: #F2F2F2;
  border: 1px solid #B9BDBF;
}
.light-theme .input--group .radio--container:hover input ~ .radio--Check {
  background: #E8E9E9;
}
.dark-theme .input--group .radio--container:hover input ~ .radio--Check {
  background: #E8E9E9;
}
.input--group .radio--container input:checked ~ .radio--Check {
  background: transparent;
}
.input--group .radio--Check:after {
  content: "";
  position: absolute;
  display: none;
}
.input--group .radio--container input:checked ~ .radio--Check:after {
  display: block;
}
.input--group .radio--container .radio--Check:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.light-theme .input--group .radio--container .radio--Check:after {
  background: #0FACFB;
}
.dark-theme .input--group .radio--container .radio--Check:after {
  background: orange;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.badge, .badge-accent3, .badge-accent2, .badge-accent1, .badge-secundary, .badge-primary {
  display: flex;
  height: 26px;
  padding: 5px 18px;
  border-radius: 30px;
  text-transform: uppercase;
  margin-right: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.light-theme .badge-primary {
  color: #0FACFB;
  background: #ceeefe;
}
.dark-theme .badge-primary {
  color: orange;
  background: #ffe9c2;
}
.light-theme .badge-secundary {
  color: #6E37BE;
  background: #d8c8ef;
}
.dark-theme .badge-secundary {
  color: #0FACFB;
  background: #ceeefe;
}
.light-theme .badge-accent1 {
  color: #129988;
  background: #7df0e1;
}
.dark-theme .badge-accent1 {
  color: #129988;
  background: #7df0e1;
}
.light-theme .badge-accent2 {
  color: #78C52E;
  background: #daf1c4;
}
.dark-theme .badge-accent2 {
  color: #78C52E;
  background: #daf1c4;
}
.light-theme .badge-accent3 {
  color: #FE2725;
  background: #ffe6e6;
}
.dark-theme .badge-accent3 {
  color: #FE2725;
  background: #ffe6e6;
}

.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.alert, .alert-accent3, .alert-accent2, .alert-accent1, .alert-secundary, .alert-primary {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 12px;
  font-weight: 500;
  border-radius: 6px;
  margin-bottom: 12px;
  cursor: pointer;
}
.light-theme .alert-primary {
  color: #0FACFB;
  background: #ceeefe;
}
.dark-theme .alert-primary {
  color: orange;
  background: #ffe9c2;
}
.light-theme .alert-secundary {
  color: #6E37BE;
  background: #d8c8ef;
}
.dark-theme .alert-secundary {
  color: #0FACFB;
  background: #ceeefe;
}
.light-theme .alert-accent1 {
  color: #129988;
  background: #7df0e1;
}
.dark-theme .alert-accent1 {
  color: #129988;
  background: #7df0e1;
}
.light-theme .alert-accent2 {
  color: #78C52E;
  background: #daf1c4;
}
.dark-theme .alert-accent2 {
  color: #78C52E;
  background: #daf1c4;
}
.light-theme .alert-accent3 {
  color: #FE2725;
  background: #ffe6e6;
}
.dark-theme .alert-accent3 {
  color: #FE2725;
  background: #ffe6e6;
}
.alert .alert--action, .alert-primary .alert--action, .alert-secundary .alert--action, .alert-accent1 .alert--action, .alert-accent2 .alert--action, .alert-accent3 .alert--action {
  cursor: pointer;
  font-weight: 700;
}

.fadeOutRight {
  animation: fadeOutRight 1s forwards;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.tooltip, .tooltip-light, .tooltip-dark {
  margin-bottom: 24px;
}
.tooltip.show .tooltip--mesage, .show.tooltip-light .tooltip--mesage, .show.tooltip-dark .tooltip--mesage {
  opacity: 1 !important;
  width: auto !important;
  height: auto !important;
}
.tooltip .tooltip--mesage, .tooltip-light .tooltip--mesage, .tooltip-dark .tooltip--mesage {
  opacity: 0;
  width: auto;
  height: auto;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 8px;
}
.light-theme .tooltip-dark .tooltip--mesage {
  color: #E8E9E9;
  background: #4C5052;
}
.dark-theme .tooltip-dark .tooltip--mesage {
  color: #E8E9E9;
  background: #4C5052;
}
.light-theme .tooltip-light .tooltip--mesage {
  color: #4C5052;
  background: #E8E9E9;
}
.dark-theme .tooltip-light .tooltip--mesage {
  color: #4C5052;
  background: #E8E9E9;
}
.tooltip .tooltip--trigger, .tooltip-dark .tooltip--trigger, .tooltip-light .tooltip--trigger {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  transition: 0.4s ease;
  padding: 8px;
}
.tooltip .tooltip--trigger:hover, .tooltip-dark .tooltip--trigger:hover, .tooltip-light .tooltip--trigger:hover {
  text-decoration-style: solid;
}
.tooltip.down .tooltip--trigger:hover + .tooltip--mesage, .down.tooltip-dark .tooltip--trigger:hover + .tooltip--mesage, .down.tooltip-light .tooltip--trigger:hover + .tooltip--mesage {
  animation: fadeInUp 0.4s forwards;
}
.tooltip.up .tooltip--trigger:hover + .tooltip--mesage, .up.tooltip-dark .tooltip--trigger:hover + .tooltip--mesage, .up.tooltip-light .tooltip--trigger:hover + .tooltip--mesage {
  animation: fadeInUp 0.4s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.bold {
  font-weight: 700 !important;
}

.medium {
  font-weight: 500 !important;
}

.light {
  font-weight: 300 !important;
}

.italic {
  font-style: italic;
}

.title, .title-h1, .title-h2, .title-h3, .title-h4 {
  font-weight: 700;
}
.title-h1 {
  font-size: 3em;
}
.title-h2 {
  font-size: 2.8em;
}
.title-h3 {
  font-size: 2.4em;
}
.title-h4 {
  font-size: 2.2em;
}
.title-h5 {
  font-weight: 500;
  font-size: 1.8em;
}
.title-h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
}

.text {
  font-size: 1em;
  margin-bottom: 12px;
}

.loader {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.loader .progress {
  padding: 6px;
  border-radius: 25px;
}
.light-theme .loader .progress {
  background: #E8E9E9;
}
.dark-theme .loader .progress {
  background: #E8E9E9;
}
.loader .progress .progress--bar {
  height: 16px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  width: 100%;
  animation: progressAnimation 6s infinite;
}
.light-theme .loader .progress .progress--bar {
  background: #0FACFB;
}
.dark-theme .loader .progress .progress--bar {
  background: orange;
}
.loader .loader--message {
  margin-top: 4px;
}
.light-theme .loader .loader--message {
  color: #0FACFB;
}
.dark-theme .loader .loader--message {
  color: orange;
}
.loader .loader--sideToSide {
  position: relative;
  min-height: 28px;
  width: 40%;
  margin: 0 auto;
}
.loader .loader--sideToSide .loading {
  position: absolute;
  width: 24px;
  height: 24px;
  animation: rigthToLeft 1.2s infinite;
}
.light-theme .loader .loader--sideToSide .loading {
  background: #0FACFB;
}
.dark-theme .loader .loader--sideToSide .loading {
  background: orange;
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes rigthToLeft {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
*, body {
  margin: 0;
  padding: 0;
}
.light-theme *, .light-theme body {
  font-family: "Poppins", sans-serif;
}
.dark-theme *, .dark-theme body {
  font-family: "Poppins", sans-serif;
}

.light-theme .app {
  font-weight: 300;
  color: #2c2c2c;
  background-color: #F9F9F9;
}
.dark-theme .app {
  font-weight: 500;
  color: #F9F9F9;
  background-color: #2c2c2c;
}
.app .grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 80px;
  padding-bottom: 48px;
  margin: 0 auto;
  max-width: 1080px;
  min-height: 100vh;
}
.app .grid .section, .app .grid .alerts, .app .grid .loaders, .app .grid .tooltips, .app .grid .badges, .app .grid .inputs, .app .grid .links, .app .grid .buttons, .app .grid .typography, .app .grid .colors {
  position: relative;
  padding-top: 24px;
}
.light-theme .app .grid .section, .light-theme .app .grid .alerts, .light-theme .app .grid .loaders, .light-theme .app .grid .tooltips, .light-theme .app .grid .badges, .light-theme .app .grid .inputs, .light-theme .app .grid .links, .light-theme .app .grid .buttons, .light-theme .app .grid .typography, .light-theme .app .grid .colors {
  border: 1px solid #129988;
}
.dark-theme .app .grid .section, .dark-theme .app .grid .alerts, .dark-theme .app .grid .loaders, .dark-theme .app .grid .tooltips, .dark-theme .app .grid .badges, .dark-theme .app .grid .inputs, .dark-theme .app .grid .links, .dark-theme .app .grid .buttons, .dark-theme .app .grid .typography, .dark-theme .app .grid .colors {
  border: 1px solid #78C52E;
}
.app .grid .section--title {
  position: absolute;
  left: 12px;
  top: -24px;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
}
.light-theme .app .grid .section--title {
  color: #129988;
  background-color: #F9F9F9;
}
.dark-theme .app .grid .section--title {
  color: #78C52E;
  background-color: #2c2c2c;
}
.app .grid .section--subtitle {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 24px;
}
.light-theme .app .grid .section--subtitle {
  color: #7F8488;
}
.dark-theme .app .grid .section--subtitle {
  color: #7F8488;
}
.app .grid .swicthers {
  grid-column: 1/13;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .grid .swicthers .btn, .app .grid .swicthers .btn-toggle {
  margin: 0 8px;
  padding: 8px;
}
.app .grid .swicthers .btn-toggle {
  border: none;
}
.app .grid .swicthers .btn:hover, .app .grid .swicthers .btn-toggle:hover {
  background: red;
}
.app .grid .colors {
  grid-column: 1/5;
  grid-row: 3/20;
  display: flex;
  flex-direction: column;
}
.app .grid .colors .color--group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 12px 24px;
  min-height: 100px;
}
.app .grid .colors .color--group.neutrals {
  display: flex;
  flex-direction: column;
}
.app .grid .colors .color--group .color--base {
  grid-column: 1/7;
  grid-row: 1/3;
  min-height: 55px;
  width: 100%;
}
.app .grid .colors .color--group .color--title {
  margin-top: 8px;
  font-weight: 500 !important;
  grid-column: 1/7;
}
.light-theme .app .grid .colors .color--group .color--title {
  color: #2c2c2c;
}
.dark-theme .app .grid .colors .color--group .color--title {
  color: #F9F9F9;
}
.app .grid .colors .color--group .color--variants {
  grid-column: 1/7;
  grid-row: 3/4;
  display: flex;
}
.app .grid .colors .color--group .color--variants .variant {
  width: 100%;
  min-height: 55px;
}
.app .grid .typography {
  grid-column: 5/13;
  grid-row: 3/13;
}
.app .grid .typography .typography--variants {
  display: flex;
  justify-content: space-between;
}
.app .grid .typography .typography--variants .weight {
  padding: 24px;
}
.app .grid .typography .typography--variants .weight .weight--example {
  margin: 0;
  font-size: 3.5em;
}
.app .grid .typography .typography--variants .weight .weight--name {
  margin: 0;
  font-size: 1.2em;
}
.app .grid .typography .typographyUses {
  display: flex;
}
.app .grid .typography .typographyUses .headlines, .app .grid .typography .typographyUses .texts {
  width: 50%;
  padding: 24px;
}
.app .grid .buttons {
  grid-column: 5/10;
  grid-row: 13/20;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 24px;
}
.app .grid .buttons .button--group {
  width: 50%;
}
.app .grid .links {
  grid-column: 10/13;
  grid-row: 13/20;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.app .grid .links .link-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.app .grid .links .link-group .link, .app .grid .links .link-group .link-primary, .app .grid .links .link-group .link-secundary {
  padding-bottom: 8px;
}
.app .grid .inputs {
  grid-column: 1/13;
  grid-row: 20/30;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.app .grid .inputs .inputs--simples {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 24px;
}
.app .grid .inputs .inputs--toggle {
  display: flex;
  justify-content: space-between;
}
.app .grid .inputs .inputs--toggle .toggle--group {
  width: 33%;
}
.app .grid .inputs .input--group {
  width: 49%;
}
.app .grid .inputs .input--group .input--group {
  width: 100%;
}
.app .grid .badges {
  grid-column: 1/5;
  grid-row: 30/33;
  display: flex;
  flex-flow: wrap;
  padding: 24px;
}
.app .grid .tooltips {
  grid-column: 5/7;
  grid-row: 30/36;
  display: flex;
  flex-direction: column;
  padding: 24px;
  text-align: center;
}
.app .grid .loaders {
  grid-column: 1/5;
  grid-row: 33/36;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.app .grid .alerts {
  grid-column: 7/13;
  grid-row: 30/36;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: stretch;
}

.d-none {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
